Data/English/RaceConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by JÄnis Lukss (None) -->
<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WEAPONS">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="-20"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnitedPlanetsMovie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnfriendlyTradeMovie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UndefendedStarColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrimColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Translate" type="xs:string"/>
	<xs:element name="TechTree">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Altarian_TechTree"/>
				<xs:enumeration value="Arcean_TechTree"/>
				<xs:enumeration value="Drath_TechTree"/>
				<xs:enumeration value="Dreadlords_TechTree"/>
				<xs:enumeration value="Iconian_TechTree"/>
				<xs:enumeration value="Kohr-Ah_TechTree"/>
				<xs:enumeration value="Korx_TechTree"/>
				<xs:enumeration value="Krynn_TechTree"/>
				<xs:enumeration value="Kzer-Za_TechTree"/>
				<xs:enumeration value="MinorRace_TechTree"/>
				<xs:enumeration value="Terran_TechTree"/>
				<xs:enumeration value="Thalan_TechTree"/>
				<xs:enumeration value="Torian_TechTree"/>
				<xs:enumeration value="Yor_TechTree"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tech">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A history of Mercantilism"/>
				<xs:enumeration value="A history of benevolence"/>
				<xs:enumeration value="AdvancedRobotics"/>
				<xs:enumeration value="ArtificialGravity"/>
				<xs:enumeration value="Cybernetic History"/>
				<xs:enumeration value="Disease Cure"/>
				<xs:enumeration value="FusionReactors"/>
				<xs:enumeration value="Galactic Warfare"/>
				<xs:enumeration value="GloriousHistory"/>
				<xs:enumeration value="HyperDrive"/>
				<xs:enumeration value="HyperionPackages"/>
				<xs:enumeration value="IndustrialRevolution"/>
				<xs:enumeration value="Inherited Technology"/>
				<xs:enumeration value="Innovative History"/>
				<xs:enumeration value="InterstellarConstruction"/>
				<xs:enumeration value="NeutralHistory"/>
				<xs:enumeration value="NewPropulsion"/>
				<xs:enumeration value="Plague Cure"/>
				<xs:enumeration value="PrecursorLegacy"/>
				<xs:enumeration value="Root"/>
				<xs:enumeration value="RuthlessHistory"/>
				<xs:enumeration value="SpecializedResearch"/>
				<xs:enumeration value="StellarCartography"/>
				<xs:enumeration value="TemporalMechanics"/>
				<xs:enumeration value="ThePath"/>
				<xs:enumeration value="TraditionalResearch"/>
				<xs:enumeration value="WayOfTheDrath"/>
				<xs:enumeration value="Xeno Biology"/>
				<xs:enumeration value="Xeno Engineering"/>
				<xs:enumeration value="Xeno Medicine"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRADEROUTES">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRADE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SuperAbility">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SmallLogo">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShortEmpireName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipStyle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Altarian Resistance Style"/>
				<xs:enumeration value="Arcean Empire Style"/>
				<xs:enumeration value="Dominion of Korx Style"/>
				<xs:enumeration value="Drath Legion Style"/>
				<xs:enumeration value="Dreadlords Style"/>
				<xs:enumeration value="Drengin Style"/>
				<xs:enumeration value="Iconian Refuge Style"/>
				<xs:enumeration value="Ilwrath Collective Style"/>
				<xs:enumeration value="Krynn Consulate Style"/>
				<xs:enumeration value="Pirate Style"/>
				<xs:enumeration value="Terran Alliance Style"/>
				<xs:enumeration value="Thalan Empire Style"/>
				<xs:enumeration value="Torian Confederation Style"/>
				<xs:enumeration value="Ur-Quan Kohr-Ah Style"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShadowColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SectorColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SPEED">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="-10"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOLDIERING">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOCIALPRODUCTION">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SENSORS">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RobotMovie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NewsRobot_Alien"/>
				<xs:enumeration value="NewsRobot_Human"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RobotImage"/>
	<xs:element name="ResearchAdvantage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Biology"/>
				<xs:enumeration value="Computing"/>
				<xs:enumeration value="Culture"/>
				<xs:enumeration value="Defense"/>
				<xs:enumeration value="Diplomacy"/>
				<xs:enumeration value="Economics"/>
				<xs:enumeration value="Industry"/>
				<xs:enumeration value="Weapons"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Races">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataChecksum"/>
				<xs:element ref="Race" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RaceMusic">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RaceLeader">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RaceID">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RaceColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Race">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RaceID"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="DisplayName"/>
						<xs:element ref="Alignment"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="Homeworld"/>
								<xs:element ref="Homestar"/>
								<xs:element ref="RaceLeader"/>
								<xs:element ref="Description"/>
								<xs:element ref="ShortEmpireName"/>
								<xs:element ref="AIPersonality"/>
								<xs:element ref="LeaderGender"/>
								<xs:element ref="Portrait"/>
								<xs:element ref="Logo"/>
								<xs:element ref="SmallLogo"/>
								<xs:element ref="DefaultTradePortrait"/>
								<xs:element ref="CustomizationPoints"/>
								<xs:element ref="CivType"/>
								<xs:element ref="PoliticalParty"/>
								<xs:element ref="RaceColor"/>
								<xs:element ref="ShadowColor"/>
								<xs:element ref="UndefendedStarColor"/>
								<xs:element ref="DefendedStarColor"/>
								<xs:element ref="SectorColor"/>
								<xs:element ref="BaseColor"/>
								<xs:element ref="TrimColor"/>
								<xs:element ref="EngineColor"/>
								<xs:element ref="InterfaceColor"/>
								<xs:element ref="ShipStyle"/>
								<xs:element ref="ModuleStyle"/>
								<xs:element ref="Tech"/>
								<xs:element ref="ECONOMICS"/>
								<xs:element ref="WEAPONS"/>
								<xs:element ref="DEFENSE"/>
								<xs:element ref="SPEED"/>
								<xs:element ref="MORALE"/>
								<xs:element ref="POPULATIONGROWTH"/>
								<xs:element ref="SOCIALPRODUCTION"/>
								<xs:element ref="MILITARYPRODUCTION"/>
								<xs:element ref="RESEARCH"/>
								<xs:element ref="INFLUENCE"/>
								<xs:element ref="TRADE"/>
								<xs:element ref="DIPLOMACY"/>
								<xs:element ref="HITPOINTS"/>
								<xs:element ref="REPAIR"/>
								<xs:element ref="SENSORS"/>
								<xs:element ref="ESPIONAGE"/>
								<xs:element ref="SOLDIERING"/>
								<xs:element ref="INTERESTRATES"/>
								<xs:element ref="PLANETQUALITY"/>
								<xs:element ref="TRADEROUTES"/>
								<xs:element ref="CRIME"/>
								<xs:element ref="CABINET"/>
								<xs:element ref="RANGE"/>
								<xs:element ref="LUCK"/>
								<xs:element ref="COURAGE"/>
								<xs:element ref="CREATIVITY"/>
								<xs:element ref="GOVERNMENT"/>
								<xs:element ref="LOYALTY"/>
								<xs:element ref="LOGISTICS"/>
								<xs:element ref="MINIATURIZATION"/>
								<xs:element ref="Tech" maxOccurs="unbounded"/>
								<xs:element ref="TechTree"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Description"/>
								<xs:choice>
									<xs:sequence>
										<xs:element ref="Homeworld"/>
										<xs:element ref="Homestar"/>
										<xs:element ref="RaceLeader"/>
										<xs:element ref="ShortEmpireName"/>
										<xs:element ref="AIPersonality"/>
										<xs:element ref="DialogueTag"/>
										<xs:element ref="LeaderGender"/>
										<xs:element ref="Portrait"/>
										<xs:element ref="Logo"/>
										<xs:element ref="SmallLogo"/>
										<xs:element ref="DefaultTradePortrait"/>
										<xs:choice>
											<xs:sequence>
												<xs:element ref="RaceMusic"/>
												<xs:element ref="RaceColor"/>
												<xs:element ref="ShadowColor"/>
												<xs:element ref="UndefendedStarColor"/>
												<xs:element ref="DefendedStarColor"/>
												<xs:element ref="SectorColor"/>
												<xs:element ref="BaseColor"/>
												<xs:element ref="TrimColor"/>
												<xs:element ref="EngineColor"/>
												<xs:element ref="InterfaceColor"/>
												<xs:element ref="ShipStyle"/>
												<xs:element ref="ModuleStyle"/>
												<xs:element ref="AbilitiesDescription"/>
												<xs:element ref="AIAbilities"/>
												<xs:element ref="Aggression"/>
												<xs:element ref="FinancialResources"/>
												<xs:element ref="CPUUsage"/>
												<xs:element ref="ResearchAdvantage"/>
												<xs:element ref="ECONOMICS"/>
												<xs:element ref="WEAPONS"/>
												<xs:element ref="DEFENSE"/>
												<xs:element ref="SPEED"/>
												<xs:element ref="MORALE"/>
												<xs:element ref="POPULATIONGROWTH"/>
												<xs:element ref="SOCIALPRODUCTION"/>
												<xs:element ref="MILITARYPRODUCTION"/>
												<xs:element ref="RESEARCH"/>
												<xs:element ref="INFLUENCE"/>
												<xs:element ref="TRADE"/>
												<xs:element ref="DIPLOMACY"/>
												<xs:element ref="HITPOINTS"/>
												<xs:element ref="REPAIR"/>
												<xs:element ref="SENSORS"/>
												<xs:element ref="ESPIONAGE"/>
												<xs:element ref="SOLDIERING"/>
												<xs:element ref="INTERESTRATES"/>
												<xs:element ref="PLANETQUALITY"/>
												<xs:element ref="TRADEROUTES"/>
												<xs:element ref="CRIME"/>
												<xs:element ref="CABINET"/>
												<xs:element ref="RANGE"/>
												<xs:element ref="LUCK"/>
												<xs:element ref="COURAGE"/>
												<xs:element ref="CREATIVITY"/>
												<xs:element ref="GOVERNMENT"/>
												<xs:element ref="LOYALTY"/>
												<xs:element ref="LOGISTICS"/>
												<xs:element ref="MINIATURIZATION"/>
												<xs:element ref="CustomizationPoints"/>
												<xs:element ref="CivType"/>
												<xs:element ref="TechTree"/>
												<xs:element ref="Tech" maxOccurs="unbounded"/>
											</xs:sequence>
											<xs:sequence>
												<xs:element ref="RaceColor"/>
												<xs:element ref="ShadowColor"/>
												<xs:element ref="UndefendedStarColor"/>
												<xs:element ref="DefendedStarColor"/>
												<xs:element ref="SectorColor"/>
												<xs:element ref="BaseColor"/>
												<xs:element ref="TrimColor"/>
												<xs:element ref="EngineColor"/>
												<xs:element ref="InterfaceColor"/>
												<xs:element ref="ShipStyle"/>
												<xs:element ref="ModuleStyle"/>
												<xs:element ref="ECONOMICS"/>
												<xs:element ref="WEAPONS"/>
												<xs:element ref="DEFENSE"/>
												<xs:element ref="SPEED"/>
												<xs:element ref="MORALE"/>
												<xs:element ref="POPULATIONGROWTH"/>
												<xs:element ref="SOCIALPRODUCTION"/>
												<xs:element ref="MILITARYPRODUCTION"/>
												<xs:element ref="RESEARCH"/>
												<xs:element ref="INFLUENCE"/>
												<xs:element ref="TRADE"/>
												<xs:element ref="DIPLOMACY"/>
												<xs:element ref="HITPOINTS"/>
												<xs:element ref="REPAIR"/>
												<xs:element ref="SENSORS"/>
												<xs:element ref="ESPIONAGE"/>
												<xs:element ref="SOLDIERING"/>
												<xs:element ref="INTERESTRATES"/>
												<xs:element ref="PLANETQUALITY"/>
												<xs:element ref="TRADEROUTES"/>
												<xs:element ref="CRIME"/>
												<xs:element ref="CABINET"/>
												<xs:element ref="RANGE"/>
												<xs:element ref="LUCK"/>
												<xs:element ref="COURAGE"/>
												<xs:element ref="CREATIVITY"/>
												<xs:element ref="GOVERNMENT"/>
												<xs:element ref="LOYALTY"/>
												<xs:element ref="LOGISTICS"/>
												<xs:element ref="MINIATURIZATION"/>
												<xs:element ref="CustomizationPoints"/>
												<xs:element ref="CivType"/>
												<xs:element ref="Tech" maxOccurs="unbounded"/>
												<xs:element ref="Ignore"/>
												<xs:element ref="TechTree"/>
											</xs:sequence>
											<xs:sequence>
												<xs:element ref="DefaultTradeMovie"/>
												<xs:element ref="FriendlyTradeMovie"/>
												<xs:element ref="UnfriendlyTradeMovie"/>
												<xs:element ref="UnitedPlanetsMovie"/>
												<xs:element ref="RobotMovie"/>
												<xs:element ref="RobotImage"/>
												<xs:element ref="RaceMusic"/>
												<xs:element ref="RaceColor"/>
												<xs:element ref="ShadowColor"/>
												<xs:element ref="UndefendedStarColor"/>
												<xs:element ref="DefendedStarColor"/>
												<xs:element ref="SectorColor"/>
												<xs:element ref="BaseColor"/>
												<xs:element ref="TrimColor"/>
												<xs:element ref="EngineColor"/>
												<xs:element ref="InterfaceColor"/>
												<xs:element ref="ShipStyle"/>
												<xs:element ref="ModuleStyle"/>
												<xs:element ref="AbilitiesDescription"/>
												<xs:element ref="AIAbilities"/>
												<xs:element ref="Aggression"/>
												<xs:element ref="FinancialResources"/>
												<xs:element ref="CPUUsage"/>
												<xs:element ref="SuperAbility"/>
												<xs:element ref="ResearchAdvantage"/>
												<xs:element ref="ECONOMICS"/>
												<xs:element ref="WEAPONS"/>
												<xs:element ref="DEFENSE"/>
												<xs:choice>
													<xs:sequence>
														<xs:element ref="SPEED"/>
														<xs:choice>
															<xs:sequence>
																<xs:element ref="POPULATIONGROWTH"/>
																<xs:element ref="SOCIALPRODUCTION"/>
																<xs:element ref="MILITARYPRODUCTION"/>
																<xs:element ref="RESEARCH"/>
																<xs:element ref="INFLUENCE"/>
																<xs:element ref="TRADE"/>
																<xs:choice>
																	<xs:sequence>
																		<xs:element ref="MORALE"/>
																		<xs:element ref="DIPLOMACY"/>
																		<xs:element ref="HITPOINTS"/>
																		<xs:element ref="REPAIR"/>
																		<xs:element ref="SENSORS"/>
																		<xs:element ref="ESPIONAGE"/>
																		<xs:element ref="SOLDIERING"/>
																		<xs:element ref="INTERESTRATES"/>
																		<xs:element ref="PLANETQUALITY"/>
																		<xs:element ref="TRADEROUTES"/>
																		<xs:element ref="CRIME"/>
																		<xs:element ref="CABINET"/>
																		<xs:element ref="RANGE"/>
																		<xs:element ref="LUCK"/>
																		<xs:element ref="COURAGE"/>
																		<xs:element ref="CREATIVITY"/>
																		<xs:element ref="GOVERNMENT"/>
																		<xs:element ref="LOYALTY"/>
																		<xs:element ref="LOGISTICS"/>
																		<xs:element ref="MINIATURIZATION"/>
																		<xs:element ref="CustomizationPoints"/>
																		<xs:element ref="CivType"/>
																		<xs:element ref="TechTree"/>
																		<xs:element ref="Tech" maxOccurs="unbounded"/>
																	</xs:sequence>
																	<xs:sequence>
																		<xs:element ref="DIPLOMACY"/>
																		<xs:element ref="HITPOINTS"/>
																		<xs:element ref="REPAIR"/>
																		<xs:element ref="SENSORS"/>
																		<xs:element ref="ESPIONAGE"/>
																		<xs:element ref="SOLDIERING"/>
																		<xs:element ref="INTERESTRATES"/>
																		<xs:element ref="PLANETQUALITY"/>
																		<xs:element ref="TRADEROUTES"/>
																		<xs:element ref="CRIME"/>
																		<xs:element ref="CABINET"/>
																		<xs:element ref="RANGE"/>
																		<xs:element ref="LUCK"/>
																		<xs:element ref="COURAGE"/>
																		<xs:element ref="CREATIVITY"/>
																		<xs:element ref="GOVERNMENT"/>
																		<xs:element ref="LOYALTY"/>
																		<xs:element ref="LOGISTICS"/>
																		<xs:element ref="MINIATURIZATION"/>
																		<xs:choice>
																			<xs:sequence>
																				<xs:element ref="CustomizationPoints"/>
																				<xs:element ref="CivType"/>
																				<xs:element ref="Ignore"/>
																				<xs:element ref="TechTree"/>
																				<xs:element ref="Tech" maxOccurs="unbounded"/>
																			</xs:sequence>
																			<xs:sequence>
																				<xs:element ref="CivType"/>
																				<xs:element ref="TechTree"/>
																				<xs:element ref="Tech" maxOccurs="unbounded"/>
																				<xs:element ref="CustomizationPoints"/>
																			</xs:sequence>
																		</xs:choice>
																	</xs:sequence>
																</xs:choice>
															</xs:sequence>
															<xs:sequence>
																<xs:element ref="MORALE"/>
																<xs:element ref="POPULATIONGROWTH"/>
																<xs:element ref="SOCIALPRODUCTION"/>
																<xs:element ref="MILITARYPRODUCTION"/>
																<xs:element ref="RESEARCH"/>
																<xs:element ref="INFLUENCE"/>
																<xs:element ref="TRADE"/>
																<xs:element ref="DIPLOMACY"/>
																<xs:element ref="HITPOINTS"/>
																<xs:element ref="REPAIR"/>
																<xs:element ref="SENSORS"/>
																<xs:element ref="ESPIONAGE"/>
																<xs:element ref="SOLDIERING"/>
																<xs:element ref="INTERESTRATES"/>
																<xs:element ref="PLANETQUALITY"/>
																<xs:element ref="TRADEROUTES"/>
																<xs:element ref="CRIME"/>
																<xs:element ref="CABINET"/>
																<xs:element ref="RANGE"/>
																<xs:element ref="LUCK"/>
																<xs:element ref="COURAGE"/>
																<xs:element ref="CREATIVITY"/>
																<xs:element ref="GOVERNMENT"/>
																<xs:element ref="LOYALTY"/>
																<xs:element ref="LOGISTICS"/>
																<xs:element ref="MINIATURIZATION"/>
																<xs:element ref="CustomizationPoints"/>
																<xs:element ref="CivType"/>
																<xs:element ref="Ignore" minOccurs="0"/>
																<xs:element ref="TechTree"/>
																<xs:element ref="Tech" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:choice>
													</xs:sequence>
													<xs:sequence>
														<xs:element ref="MORALE"/>
														<xs:element ref="SPEED"/>
														<xs:element ref="POPULATIONGROWTH"/>
														<xs:element ref="SOCIALPRODUCTION"/>
														<xs:element ref="MILITARYPRODUCTION"/>
														<xs:element ref="RESEARCH"/>
														<xs:element ref="INFLUENCE"/>
														<xs:element ref="TRADE"/>
														<xs:element ref="DIPLOMACY"/>
														<xs:element ref="HITPOINTS"/>
														<xs:element ref="REPAIR"/>
														<xs:element ref="SENSORS"/>
														<xs:element ref="ESPIONAGE"/>
														<xs:element ref="SOLDIERING"/>
														<xs:element ref="INTERESTRATES"/>
														<xs:element ref="PLANETQUALITY"/>
														<xs:element ref="TRADEROUTES"/>
														<xs:element ref="CRIME"/>
														<xs:element ref="CABINET"/>
														<xs:element ref="RANGE"/>
														<xs:element ref="LUCK"/>
														<xs:element ref="COURAGE"/>
														<xs:element ref="CREATIVITY"/>
														<xs:element ref="GOVERNMENT"/>
														<xs:element ref="LOYALTY"/>
														<xs:element ref="LOGISTICS"/>
														<xs:element ref="MINIATURIZATION"/>
														<xs:element ref="CustomizationPoints"/>
														<xs:element ref="CivType"/>
														<xs:element ref="TechTree"/>
														<xs:element ref="Tech" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:choice>
											</xs:sequence>
										</xs:choice>
									</xs:sequence>
									<xs:sequence>
										<xs:element ref="Homestar"/>
										<xs:choice>
											<xs:sequence>
												<xs:element ref="RaceLeader"/>
												<xs:element ref="ShortEmpireName"/>
												<xs:element ref="AIPersonality"/>
												<xs:element ref="DialogueTag"/>
												<xs:element ref="LeaderGender"/>
												<xs:element ref="Portrait"/>
												<xs:element ref="Logo"/>
												<xs:element ref="SmallLogo"/>
												<xs:element ref="DefaultTradePortrait"/>
												<xs:element ref="RaceMusic"/>
												<xs:element ref="RaceColor"/>
												<xs:element ref="ShadowColor"/>
												<xs:element ref="UndefendedStarColor"/>
												<xs:element ref="DefendedStarColor"/>
												<xs:element ref="SectorColor"/>
												<xs:element ref="BaseColor"/>
												<xs:element ref="TrimColor"/>
												<xs:element ref="EngineColor"/>
												<xs:element ref="InterfaceColor"/>
												<xs:element ref="ShipStyle"/>
												<xs:element ref="ModuleStyle"/>
												<xs:element ref="AbilitiesDescription"/>
												<xs:element ref="AIAbilities"/>
												<xs:element ref="Aggression"/>
												<xs:element ref="FinancialResources"/>
												<xs:element ref="CPUUsage"/>
												<xs:element ref="ResearchAdvantage"/>
												<xs:element ref="ECONOMICS"/>
												<xs:element ref="WEAPONS"/>
												<xs:element ref="DEFENSE"/>
												<xs:element ref="SPEED"/>
												<xs:element ref="MORALE"/>
												<xs:element ref="POPULATIONGROWTH"/>
												<xs:element ref="SOCIALPRODUCTION"/>
												<xs:element ref="MILITARYPRODUCTION"/>
												<xs:element ref="RESEARCH"/>
												<xs:element ref="INFLUENCE"/>
												<xs:element ref="TRADE"/>
												<xs:element ref="DIPLOMACY"/>
												<xs:element ref="HITPOINTS"/>
												<xs:element ref="REPAIR"/>
												<xs:element ref="SENSORS"/>
												<xs:element ref="ESPIONAGE"/>
												<xs:element ref="SOLDIERING"/>
												<xs:element ref="INTERESTRATES"/>
												<xs:element ref="PLANETQUALITY"/>
												<xs:element ref="TRADEROUTES"/>
												<xs:element ref="CRIME"/>
												<xs:element ref="CABINET"/>
												<xs:element ref="RANGE"/>
												<xs:element ref="LUCK"/>
												<xs:element ref="COURAGE"/>
												<xs:element ref="CREATIVITY"/>
												<xs:element ref="GOVERNMENT"/>
												<xs:element ref="LOYALTY"/>
												<xs:element ref="LOGISTICS"/>
												<xs:element ref="MINIATURIZATION"/>
												<xs:element ref="CustomizationPoints"/>
												<xs:element ref="CivType"/>
												<xs:element ref="TechTree"/>
											</xs:sequence>
											<xs:sequence>
												<xs:element ref="Homeworld"/>
												<xs:element ref="RaceLeader"/>
												<xs:element ref="ShortEmpireName"/>
												<xs:element ref="AIPersonality"/>
												<xs:element ref="DialogueTag"/>
												<xs:element ref="LeaderGender"/>
												<xs:element ref="Portrait"/>
												<xs:element ref="Logo"/>
												<xs:element ref="SmallLogo"/>
												<xs:element ref="DefaultTradePortrait"/>
												<xs:element ref="DefaultTradeMovie"/>
												<xs:element ref="FriendlyTradeMovie"/>
												<xs:element ref="UnfriendlyTradeMovie"/>
												<xs:element ref="UnitedPlanetsMovie"/>
												<xs:element ref="RobotMovie"/>
												<xs:element ref="RobotImage"/>
												<xs:element ref="RaceMusic"/>
												<xs:element ref="RaceColor"/>
												<xs:element ref="ShadowColor"/>
												<xs:element ref="UndefendedStarColor"/>
												<xs:element ref="DefendedStarColor"/>
												<xs:element ref="SectorColor"/>
												<xs:element ref="BaseColor"/>
												<xs:element ref="TrimColor"/>
												<xs:element ref="EngineColor"/>
												<xs:element ref="InterfaceColor"/>
												<xs:element ref="ShipStyle"/>
												<xs:element ref="ModuleStyle"/>
												<xs:element ref="AbilitiesDescription"/>
												<xs:element ref="AIAbilities"/>
												<xs:element ref="Aggression"/>
												<xs:element ref="FinancialResources"/>
												<xs:element ref="CPUUsage"/>
												<xs:element ref="SuperAbility"/>
												<xs:element ref="ResearchAdvantage"/>
												<xs:element ref="ECONOMICS"/>
												<xs:element ref="MORALE"/>
												<xs:element ref="WEAPONS"/>
												<xs:element ref="DEFENSE"/>
												<xs:element ref="SPEED"/>
												<xs:element ref="POPULATIONGROWTH"/>
												<xs:element ref="SOCIALPRODUCTION"/>
												<xs:element ref="MILITARYPRODUCTION"/>
												<xs:element ref="RESEARCH"/>
												<xs:element ref="INFLUENCE"/>
												<xs:element ref="TRADE"/>
												<xs:element ref="DIPLOMACY"/>
												<xs:element ref="HITPOINTS"/>
												<xs:element ref="REPAIR"/>
												<xs:element ref="SENSORS"/>
												<xs:element ref="ESPIONAGE"/>
												<xs:element ref="SOLDIERING"/>
												<xs:element ref="INTERESTRATES"/>
												<xs:element ref="PLANETQUALITY"/>
												<xs:element ref="TRADEROUTES"/>
												<xs:element ref="CRIME"/>
												<xs:element ref="CABINET"/>
												<xs:element ref="RANGE"/>
												<xs:element ref="LUCK"/>
												<xs:element ref="COURAGE"/>
												<xs:element ref="CREATIVITY"/>
												<xs:element ref="GOVERNMENT"/>
												<xs:element ref="LOYALTY"/>
												<xs:element ref="LOGISTICS"/>
												<xs:element ref="MINIATURIZATION"/>
												<xs:element ref="CustomizationPoints"/>
												<xs:element ref="CivType"/>
												<xs:element ref="TechTree"/>
												<xs:element ref="Tech" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:choice>
									</xs:sequence>
								</xs:choice>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="CivType"/>
						<xs:element ref="DisplayName"/>
						<xs:element ref="Alignment"/>
						<xs:element ref="ShortEmpireName"/>
						<xs:element ref="RaceLeader"/>
						<xs:element ref="Homeworld"/>
						<xs:element ref="Homestar"/>
						<xs:element ref="Description"/>
						<xs:element ref="AIPersonality"/>
						<xs:element ref="LeaderGender"/>
						<xs:element ref="Portrait"/>
						<xs:element ref="Logo"/>
						<xs:element ref="SmallLogo"/>
						<xs:element ref="DefaultTradePortrait"/>
						<xs:element ref="CustomizationPoints"/>
						<xs:element ref="PoliticalParty"/>
						<xs:element ref="RaceColor"/>
						<xs:element ref="ShadowColor"/>
						<xs:element ref="UndefendedStarColor"/>
						<xs:element ref="DefendedStarColor"/>
						<xs:element ref="SectorColor"/>
						<xs:element ref="BaseColor"/>
						<xs:element ref="TrimColor"/>
						<xs:element ref="EngineColor"/>
						<xs:element ref="InterfaceColor"/>
						<xs:element ref="ShipStyle"/>
						<xs:element ref="ModuleStyle"/>
						<xs:element ref="Tech" maxOccurs="unbounded"/>
						<xs:element ref="ECONOMICS"/>
						<xs:element ref="WEAPONS"/>
						<xs:element ref="DEFENSE"/>
						<xs:element ref="SPEED"/>
						<xs:element ref="MORALE"/>
						<xs:element ref="POPULATIONGROWTH"/>
						<xs:element ref="SOCIALPRODUCTION"/>
						<xs:element ref="MILITARYPRODUCTION"/>
						<xs:element ref="RESEARCH"/>
						<xs:element ref="INFLUENCE"/>
						<xs:element ref="TRADE"/>
						<xs:element ref="DIPLOMACY"/>
						<xs:element ref="HITPOINTS"/>
						<xs:element ref="REPAIR"/>
						<xs:element ref="SENSORS"/>
						<xs:element ref="ESPIONAGE"/>
						<xs:element ref="SOLDIERING"/>
						<xs:element ref="INTERESTRATES"/>
						<xs:element ref="PLANETQUALITY"/>
						<xs:element ref="TRADEROUTES"/>
						<xs:element ref="CRIME"/>
						<xs:element ref="CABINET"/>
						<xs:element ref="RANGE"/>
						<xs:element ref="LUCK"/>
						<xs:element ref="COURAGE"/>
						<xs:element ref="CREATIVITY"/>
						<xs:element ref="GOVERNMENT"/>
						<xs:element ref="LOYALTY"/>
						<xs:element ref="LOGISTICS"/>
						<xs:element ref="MINIATURIZATION"/>
						<xs:element ref="TechTree"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Name" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESEARCH">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="REPAIR">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RANGE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Portrait">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Gfx\Race\RaceImage01.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage02.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage03.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage04.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage05.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage06.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage07.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage08.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage09.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage30.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage50.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage51.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage52.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage53.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage54.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage55.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage57.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage_Jenna.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage_Kohr-Ah.png"/>
				<xs:enumeration value="Gfx\Race\RaceImage_Krynn.png"/>
				<xs:enumeration value="Gfx\Race\RaceLogo23.png"/>
				<xs:enumeration value="Gfx\Race\Race_custom.png"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PoliticalParty">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="POPULATIONGROWTH">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PLANETQUALITY">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ModuleStyle">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MORALE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MINIATURIZATION">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MILITARYPRODUCTION">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Logo">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LeaderGender">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LUCK">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LOYALTY">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LOGISTICS">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InterfaceColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Ignore" type="xs:string"/>
	<xs:element name="INTERESTRATES">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="INFLUENCE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Homeworld">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Homestar">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HITPOINTS">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GOVERNMENT">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FriendlyTradeMovie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FinancialResources">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EngineColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ESPIONAGE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ECONOMICS">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DisplayName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DialogueTag">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="DefendedStarColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DefaultTradePortrait">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DefaultTradeMovie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataChecksum">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ignore"/>
				<xs:element ref="Translate"/>
			</xs:sequence>
			<xs:attribute name="NoParse" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DIPLOMACY">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DEFENSE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomizationPoints">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CivType">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CRIME">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CREATIVITY">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CPUUsage">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="COURAGE">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CABINET">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BaseColor">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Alignment">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Aggression">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AbilitiesDescription" type="xs:string"/>
	<xs:element name="AIPersonality">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AIAbilities">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
